/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

:root{
  --p-color: #156775;
  --p-col-rgb: rgba(2, 68, 80);
  --p-col-code: 2, 68, 80;
}

html,
body {
  background-color: var(--p-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fwrap{ flex-wrap: wrap; }