// Navbar
.nav{
    .menuBtn{
        &:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    .links{
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 5px;
        a{
            &:hover{
                background-color: rgba(0, 0, 0, 0.1);   
            }
        }
    } 
}

// Hero Section
.hero{
    padding: {
        top: 1rem; bottom: 1rem;
    }
    form {
        button {
            background: rgba(0, 0, 0, 0.4);
            border: 2px solid transparent;
            &:hover{
                background-color: rgba(var(--p-col-code), 0.6);
                border: 2px solid rgba(255, 255, 255, 0.4);
            }
        }
    }
}