// Navbar
.nav{
    background-color: var(--p-color);
    .links a{
        &:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}

// Hero Section
.hero{
    background-color: var(--p-color);
    padding: {
        top: 1.5rem; bottom: 1.5rem;
    }
    form {
        button {
            background: rgba(0, 0, 0, 0.4);
            border: 2px solid transparent;
            &:hover{
                background-color: rgba(var(--p-col-code), 0.6);
                border: 2px solid rgba(255, 255, 255, 0.4);
            }
        }
    }
}